In [47]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import numpy as np
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [3]:
data.head()

   RowNumber  CustomerId   Surname  CreditScore  ... HasCrCard IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave          619  ...         1              1        101348.88       1
1          2    15647311      Hill          608  ...         0              1        112542.58       0
2          3    15619304      Onio          502  ...         1              0        113931.57       1
3          4    15701354      Boni          699  ...         0              0         93826.63       0
4          5    15737888  Mitchell          850  ...         1              1         79084.10       0

[5 rows x 14 columns]

In [5]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis = 1)

In [6]:
data.head()

   CreditScore Geography  Gender  Age  Tenure  ...  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female   42       2  ...              1          1               1        101348.88       1
1          608     Spain  Female   41       1  ...              1          0               1        112542.58       0
2          502    France  Female   42       8  ...              3          1               0        113931.57       1
3          699    France  Female   39       1  ...              2          0               0         93826.63       0
4          850     Spain  Female   43       2  ...              1          1               1         79084.10       0

[5 rows x 11 columns]

In [7]:
label_encoded_gender = LabelEncoder()

In [8]:
data['Gender'] = label_encoded_gender.fit_transform(data['Gender'])

In [9]:
data.head()

   CreditScore Geography  Gender  Age  Tenure  ...  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          619    France       0   42       2  ...              1          1               1        101348.88       1
1          608     Spain       0   41       1  ...              1          0               1        112542.58       0
2          502    France       0   42       8  ...              3          1               0        113931.57       1
3          699    France       0   39       1  ...              2          0               0         93826.63       0
4          850     Spain       0   43       2  ...              1          1               1         79084.10       0

[5 rows x 11 columns]

In [10]:
onehot_encoded_df = OneHotEncoder()

In [25]:
geo_encoded = onehot_encoded_df.fit_transform(data[['Geography']]).toarray()

In [26]:
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [27]:
columns = onehot_encoded_df.get_feature_names_out(['Geography'])

In [29]:
geo_encoded_df = pd.DataFrame(geo_encoded , columns=columns)

In [31]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [33]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [34]:
data.head()

   CreditScore  Gender  Age  Tenure  ...  Exited  Geography_France  Geography_Germany  Geography_Spain
0          619       0   42       2  ...       1               1.0                0.0              0.0
1          608       0   41       1  ...       0               0.0                0.0              1.0
2          502       0   42       8  ...       1               1.0                0.0              0.0
3          699       0   39       1  ...       0               1.0                0.0              0.0
4          850       0   43       2  ...       0               0.0                0.0              1.0

[5 rows x 13 columns]

In [36]:
x = data.drop(['EstimatedSalary'],axis = 1)

In [37]:
y = data['EstimatedSalary']

In [41]:
x_train,x_test,y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=42)

In [42]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((8000, 12), (8000,), (2000, 12), (2000,))

In [43]:
scaler = StandardScaler()

In [46]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [49]:
with open('label_encoded_gender.pkl','wb') as file:
    pickle.dump(label_encoded_gender,file)

with open('onehot_encoded_geo.pkl','wb') as file:
    pickle.dump(onehot_encoded_df,file)

with open('Scaler.pkl','wb') as file:
    pickle.dump(scaler , file)

### ANN Regression Implementation

In [50]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import pandas as pd
import pickle
import numpy as np

In [52]:
model = Sequential([
        Dense(64 , activation='relu',input_shape = (x_train.shape[1],)),
        Dense(32 , activation = 'relu'),
        Dense(1) 
])

In [53]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                      │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [54]:
model.compile(optimizer='adam',loss = 'mean_absolute_error',metrics=['mae'])

In [56]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir , histogram_freq=1)

In [57]:
earlystopping_callback = EarlyStopping(monitor='val_loss',patience = 10 , restore_best_weights=True)

In [58]:
history = model.fit(x_train,y_train,
                    validation_data=[x_test,y_test],
                    epochs=100,
                    callbacks=[earlystopping_callback,tensorboard_callback]
                   )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 100371.5859 - mae: 100371.5859 - val_loss: 98500.1484 - val_mae: 98500.1484
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 99586.1094 - mae: 99586.1094 - val_loss: 96927.8594 - val_mae: 96927.8594
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 96813.1797 - mae: 96813.1797 - val_loss: 92832.6328 - val_mae: 92832.6328
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 91267.3438 - mae: 91267.3438 - val_loss: 85966.3516 - val_mae: 85966.3516
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 83232.4531 - mae: 83232.4531 - val_loss: 77237.3359 - val_mae: 77237.3359
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 73962.7188 - mae: 73962.7188 - val_loss: 68284.7578 - val_mae: 68284.7578
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 65178.5547 - mae: 65178.5547 - val_loss: 60621.5273 - val_mae: 60621.5273
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 58280.2461 - mae: 58280.2461 - val_loss: 55340.5234 - val_mae: 55340.5234
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53945.2852 - mae: 53945.2852 - val_loss: 52626.7383 - val_mae: 52626.7383
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51738.5430 - mae: 51738.5430 - val_loss: 51443.2891 - val_mae: 51443.2891
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50763.5195 - mae: 50763.5195 - val_loss: 51020.6562 - val_mae: 51020.6562
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50431.3711 - mae: 50431.3711 - val_loss: 50887.2617 - val_mae: 50887.2617
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50283.7891 - mae: 50283.7891 - val_loss: 50812.6562 - val_mae: 50812.6562
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50182.7031 - mae: 50182.7031 - val_loss: 50768.2383 - val_mae: 50768.2383
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50116.4805 - mae: 50116.4805 - val_loss: 50732.7266 - val_mae: 50732.7266
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50060.6055 - mae: 50060.6055 - val_loss: 50699.1680 - val_mae: 50699.1680
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50009.4102 - mae: 50009.4102 - val_loss: 50660.3320 - val_mae: 50660.3320
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49967.2305 - mae: 49967.2305 - val_loss: 50634.4492 - val_mae: 50634.4492
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49928.0039 - mae: 49928.0039 - val_loss: 50618.6250 - val_mae: 50618.6250
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49892.7969 - mae: 49892.7969 - val_loss: 50586.1602 - val_mae: 50586.1602
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49864.3398 - mae: 49864.3398 - val_loss: 50563.7344 - val_mae: 50563.7344
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49839.3750 - mae: 49839.3750 - val_loss: 50538.1562 - val_mae: 50538.1562
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49812.0664 - mae: 49812.0664 - val_loss: 50509.2148 - val_mae: 50509.2148
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49788.3984 - mae: 49788.3984 - val_loss: 50504.3008 - val_mae: 50504.3008
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49767.0312 - mae: 49767.0312 - val_loss: 50483.7773 - val_mae: 50483.7773
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49746.9570 - mae: 49746.9570 - val_loss: 50464.8242 - val_mae: 50464.8242
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49728.5586 - mae: 49728.5586 - val_loss: 50459.7227 - val_mae: 50459.7227
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49710.4375 - mae: 49710.4375 - val_loss: 50452.1992 - val_mae: 50452.1992
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49693.0117 - mae: 49693.0117 - val_loss: 50437.3867 - val_mae: 50437.3867
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49678.0312 - mae: 49678.0312 - val_loss: 50421.8281 - val_mae: 50421.8281
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49664.7031 - mae: 49664.7031 - val_loss: 50425.5078 - val_mae: 50425.5078
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49652.2539 - mae: 49652.2539 - val_loss: 50414.6797 - val_mae: 50414.6797
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49636.0703 - mae: 49636.0703 - val_loss: 50411.2148 - val_mae: 50411.2148
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49623.2578 - mae: 49623.2578 - val_loss: 50409.0703 - val_mae: 50409.0703
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49612.3359 - mae: 49612.3359 - val_loss: 50400.4258 - val_mae: 50400.4258
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49600.2461 - mae: 49600.2461 - val_loss: 50399.5234 - val_mae: 50399.5234
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49591.4414 - mae: 49591.4414 - val_loss: 50398.1445 - val_mae: 50398.1445
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49579.5664 - mae: 49579.5664 - val_loss: 50380.8242 - val_mae: 50380.8242
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49570.7734 - mae: 49570.7734 - val_loss: 50387.1562 - val_mae: 50387.1562
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49562.9414 - mae: 49562.9414 - val_loss: 50383.4023 - val_mae: 50383.4023
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49554.4766 - mae: 49554.4766 - val_loss: 50374.9688 - val_mae: 50374.9688
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49543.3320 - mae: 49543.3320 - val_loss: 50377.6445 - val_mae: 50377.6445
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49536.2891 - mae: 49536.2891 - val_loss: 50368.8750 - val_mae: 50368.8750
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49528.8750 - mae: 49528.8750 - val_loss: 50371.4102 - val_mae: 50371.4102
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49519.8125 - mae: 49519.8125 - val_loss: 50380.4570 - val_mae: 50380.4570
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49516.3555 - mae: 49516.3555 - val_loss: 50387.0156 - val_mae: 50387.0156
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49506.7578 - mae: 49506.7578 - val_loss: 50369.6953 - val_mae: 50369.6953
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49499.3125 - mae: 49499.3125 - val_loss: 50364.6289 - val_mae: 50364.6289
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49494.9727 - mae: 49494.9727 - val_loss: 50357.8398 - val_mae: 50357.8398
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49486.0156 - mae: 49486.0156 - val_loss: 50357.8398 - val_mae: 50357.8398
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49477.0664 - mae: 49477.0664 - val_loss: 50367.5391 - val_mae: 50367.5391
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49471.0273 - mae: 49471.0273 - val_loss: 50354.7656 - val_mae: 50354.7656
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49464.3438 - mae: 49464.3438 - val_loss: 50357.8477 - val_mae: 50357.8477
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49458.1016 - mae: 49458.1016 - val_loss: 50344.1875 - val_mae: 50344.1875
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49453.6758 - mae: 49453.6758 - val_loss: 50355.7539 - val_mae: 50355.7539
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49446.5469 - mae: 49446.5469 - val_loss: 50340.6328 - val_mae: 50340.6328
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49439.4805 - mae: 49439.4805 - val_loss: 50340.9141 - val_mae: 50340.9141
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49433.4805 - mae: 49433.4805 - val_loss: 50349.2812 - val_mae: 50349.2812
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49428.0391 - mae: 49428.0391 - val_loss: 50353.8281 - val_mae: 50353.8281
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49422.3320 - mae: 49422.3320 - val_loss: 50353.2812 - val_mae: 50353.2812
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49416.3281 - mae: 49416.3281 - val_loss: 50342.1562 - val_mae: 50342.1562
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49414.7031 - mae: 49414.7031 - val_loss: 50355.6641 - val_mae: 50355.6641
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49407.8359 - mae: 49407.8359 - val_loss: 50344.4570 - val_mae: 50344.4570
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49403.8906 - mae: 49403.8906 - val_loss: 50347.8945 - val_mae: 50347.8945
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49397.7695 - mae: 49397.7695 - val_loss: 50355.6914 - val_mae: 50355.6914
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49392.7852 - mae: 49392.7852 - val_loss: 50336.8516 - val_mae: 50336.8516
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49388.1016 - mae: 49388.1016 - val_loss: 50354.4453 - val_mae: 50354.4453
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49384.8633 - mae: 49384.8633 - val_loss: 50350.1992 - val_mae: 50350.1992
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49380.2695 - mae: 49380.2695 - val_loss: 50353.3320 - val_mae: 50353.3320
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49378.8125 - mae: 49378.8125 - val_loss: 50344.6562 - val_mae: 50344.6562
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49374.4141 - mae: 49374.4141 - val_loss: 50357.2188 - val_mae: 50357.2188
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 49366.0859 - mae: 49366.0859 - val_loss: 50351.8047 - val_mae: 50351.8047
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49363.6797 - mae: 49363.6797 - val_loss: 50356.6953 - val_mae: 50356.6953
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49359.7930 - mae: 49359.7930 - val_loss: 50346.8789 - val_mae: 50346.8789
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49356.2891 - mae: 49356.2891 - val_loss: 50349.9375 - val_mae: 50349.9375
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49350.3984 - mae: 49350.3984 - val_loss: 50358.1758 - val_mae: 50358.1758

In [59]:
%load_ext tensorboard
%tensorboard --logdir regressionlogs/fit/

In [60]:
test_loss,test_mae = model.evaluate(x_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50336.8516 - mae: 50336.8516

In [61]:
test_mae

50336.8515625

In [62]:
test_loss

50336.8515625

In [64]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.